# Build outputs
/target/
/build/
/out/
/dist/

# Build configuration, source code only here.
build.xml
manifest.mf

# IDE: IntelliJ IDEA
/.idea/
/*.iml
/.idea_modules/
/workspace.xml
/usage.statistics.xml
/compiler.xml

# IDE: NetBeans
/nbproject/
/nbbuild/
/nbdist/
/nbdist*/
/var/
build/
nbactions.xml
private/

# Eclipse and generic Java IDE files
/.classpath
/.project
/.settings/

# Gradle
/.gradle/
gradle-app.setting
gradle-wrapper.jar
gradle-wrapper.properties

# Maven
/logs/
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# Operating system
.DS_Store
Thumbs.db